#acervo img{
  width: 15px;
  height: 15px;
}
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: url(./fundo.jpg) no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  left: 25vw;

  height: 3rem;
  width: 50vw;

  margin: 0.3rem 0 0 0;

  background-color: bisque;
}

header p {
  font-size: 1.4rem;

  margin: 0 0 0 3rem;
}

header a {
  text-decoration: none;

  font-size: 1.4rem;
  margin: 0 3rem 0 0;
}

main {
  height: 92vh;
  width: 100%;
}

#page-landing {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92vh;
  width: 100%;
}

#container {
  height: 50vh;
  width: 45vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.4rem;

  background: #f8f8f8;
}

#container h1 {
  padding: 1rem 0 1rem 0;

  border-radius: 0.4rem 0.4rem 0 0;

  display: flex;
  justify-content: center;

  width: 100%;

  background-color: bisque;
  color: #aa2b4f;
}

#container #materias {
  height: 4rem;
}

#materias .primeira-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;

  width: 35vw;
  height: 7rem;
}

#materias li {
  font-size: 1.3rem;
}

#materias .primeira-li {
  background: #fff;

  height: 3rem;

  padding: 2rem 2rem 0 2rem;
}

#materias .esconder {
  visibility: hidden;
  display: flex;
  flex-direction: column;

  position: absolute;

  list-style: none;

  margin-top: 1.2rem;
}

#materias li:hover .esconder {
  visibility: visible;
}

#materias .segunda-li {
  height: 4rem;

  width: 7rem;

  background: #fff;
}
#l1
{
    float: left;
    width: 60%;
    height: 90%;
    padding: 0% 0% 0% 10%;
}

#l2
{
    float: left;
    width: 20%;
    height: 50%;
}

#l3{
	float: left;
    width: 20%;
    height: 50%;
}

.nome{
	font-family: impact;
	text-decoration: none;

}

#teste{
color: #800000;
}
.nome{
	font-family: impact;
	text-decoration: none;

}


td {
  transition: 0.5s;

  padding-left: 30px;
  height: 0px;
}

th {
  padding-left: 30px;
}

.secao
{
    padding: 2%;
    height: 900px;
    background-color: white;
    /* margin-bottom: 2%; */
    border: solid 15px #008E4D;
}
.secao p 
{
    font-size: 110%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.desc
{
    float: left;
    text-align: justify;
}

.genero
{
    text-align: justify;
    float: right;
    width: 40%;
}

.tit
{
    float: left;
    width: 60%;
}

.titulo
{
    float: left;
    width: 80%;
}

.opniao
{
    width: 100%;
    float: left;
}

.opniao p 
{
    font-family: 'Kalam', cursive;
    color: black;
}

.elenco
{
    float: right;
    width: 40%;
}

.image
{
    width: 60%;
    float: left;
}



