body {
		  background-image: url("./fundo.jpg");
		  background-position: left top;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  margin-left :200px;
		  margin-right :50px;
		  font-family: Arial;
          font-size:1.3em;
		}
		
		.img{
			float: right;
			border-radius: 35%;
		}
		h1
	{
	  font-family: 'Sofia', cursive;
	  font-style: oblique;
	  color: orange;
	  }
		nav ul{
		  list-style-type : none;
		  margin: 0px;
		  padding: 0px;
		  height: 50px;
		}
		nav li{
		  display: inline-block;
		}
		a{
			text-decoration : none;
			font-size : 0px;
		}
		a:hover{
            transition-duration: 2s;
			font-size : 20px;
		}
		mark{
			background-color: orange;
			color:white;
			display:block;
			text-align:center;
			font-family: "URW Chancery L", cursive;
			font-style: italic;
			font-size: 1.5em;
		}
		.titulo{
			font-family:'Sofia', cursive;
			text-align: left;
		}
		h2{
		    font-family:'Sofia', cursive;
			color: red;
		}
		h3{
		    font-family:'Sofia', cursive;
			color: red;
		}
		img {
			float:right;
		}
		strong{
			color: orange;
		}
		.especial{
			font-family: 'Allura';font-size: 1.5em;
		}
		#topo
	{
		position: fixed;
		top:0;
		background-color:white;
		width:50%;
		z-index:3;
	  
	}
		#introducao{
			padding-top:140px;
		}
		#introducao p{
			width: 70%;
			float:left;
		}
		.material-icons{
			color: orange;

		}
		#indice{
			font-family:"Lucida Console", Monaco, monospace;
			background-color: #ffe866;
			color: brown;
			display : inline-block;			
			float:right;
			border-radius: 2px;
			padding: 2px;
			border: 3px;
			border-style:dotted;
			border-color: orange;
			
		}
		#indice h1{			
			color: inherit;
			font-size : 1em;

		}
		#indice a, li{
			text-decoration : none;
			font-weight:normal;
			color: inherit;
			font-size : 1em;
		}
		#nomenclaturabinomial{
			clear:both;
		}	
		div.polaroid{
			width: 100%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			margin-bottom: 25px;
			}	
        
	    div.containe {
			text-align: center;
			padding:10px 20px;
			background-color: Yellow;
			}
			
		#i1{
			filter: blur(2px);
			}
			
			#i2{
			filter: grayscale(90%);
			}
			
			#i3{
			filter: contrast(180%);
			}
			
			a#link{
			font-size: 0px;
			}
			
			a#link:hover{
			font-size: 15px;
			
			}
			 img{
			height: 180px;
			width: 150%;
			max-width: 200px;
			border-radius: 50%;
			padding: 10px 20px;
			}
			
	.ft{
			color: orange;
			font-size: 16px;
			text-align: center;
			font-family: "URW Chancery L", cursive;
			font-style: italic;
			display: inline-block;
			}
.video{
			width: 40%;
	    	height:20%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			margin-bottom: 25px;
			display: inline-block;
			}
	
	
	@media only screen and (min-width: 360px) and (max-width: 640px){
	body{
		background-image: url("backgroud.png");
		margin-left: 0px;
		font-size: 0.4em;
	}
	
	.img{
		float: right;
		max-width: 30%;
		margin-left: 220px;
		width: 20%;
		height: 40%;
	}
	
	#pic{
		margin-left: 15%;
	}
	
	#indice{
		margin-left: 100%;
		max-width: 100%;
	}
	
	.titulo{
		padding-left: 15%;
	}
	
	ol{
		max-width: 100%;
	}
	.ft{
		margin-left: 20%;
		max-width: 20%;
		margin-left: 140px;
	}
	#introducao p{
			width: 70%;
			float:left-top;
	}

@media only print{
nav, #indice{
display: none;
}
}

button{
	font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 16px;
    width: 178px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background: #b3ffb3;
    color: #2E8B57;
    border: 1px solid #fff;
}